*{
    font-family: sans-serif;
}
body{
    margin:2vw;
}
article{
    position: absolute;
    left: 50%;
}

/* START  card swpe stuff */
.card{
    border:1px solid black;
    width:200px;
    height:300px;
    background-color: grey;
    color:white;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 100%;
}

.card.inactive{
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s, opacity 0.5s;
}

.card.reset{
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
}

.card.to-left {
-webkit-transform: translateX(-30rem) rotate(-30deg) !important;
        transform: translateX(-30rem) rotate(-30deg) !important;
        opacity:0;
}

.card.to-right {
-webkit-transform: translate(30rem) rotate(30deg) !important;
        transform: translate(30rem) rotate(30deg) !important;
        opacity:0;
}

/* END card swipe stuff */

.intro{
    font-weight: bold;
    text-align: center;
}

.prediction{
    font-weight:bold;
    transform-origin: top left;
}

.ui{
    font-weight:bold;
    transform-origin: bottom left;
    background:black;
    color:white;
}

.link{
    text-decoration:none;
}

.link:hover{
    color:red;
}
footer{
    padding-top:30px;
    color:grey;
    text-align:right;
}